vendor/*
coverage.out
count.out
.idea
*.log

coin/btc/configs/*
coin/btc/test/*
coin/bts/configs/*
coin/act/configs/*
coin/dm/configs/*
coin/eos/configs/*
coin/hc/configs/*
coin/mcc/configs/*
coin/stc/configs/*
coin/ada/configs/*
coin/xmr/configs/*
coin/tron/configs/*
coin/iost/configs/*
.DS_Store
zexternal-exe/*/node_modules/*
